# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.auth-cognito-android-ios.iml
# Editor-based HTTP Client requests
/httpRequests/
